Project/Project1_NodeRed_flow.json
[
    {
        "id": "48895e14.c641e",
        "type": "tab",
        "label": "Project1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "47a39ca2.30836c",
        "type": "tcp in",
        "z": "48895e14.c641e",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "2cc61a47.abc8fe"
            ]
        ]
    },
    {
        "id": "b4fda234.fa2a08",
        "type": "http request",
        "z": "48895e14.c641e",
        "name": "Web Req",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/{{event}}/with/key/cXjQNxwHEbUr4ZLI84e8rx",
        "tls": "",
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "d74a1ec9.f5dd"
            ]
        ]
    },
    {
        "id": "d74a1ec9.f5dd",
        "type": "debug",
        "z": "48895e14.c641e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 1290,
        "y": 240,
        "wires": []
    },
    {
        "id": "d1a01829.765448",
        "type": "function",
        "z": "48895e14.c641e",
        "name": "Req Params",
        "func": "ID=msg.payload;\nmsg.event = \"project1_IoT\";\nmsg.payload = {\"value1\": \"23401\", \"value2\": ID};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "baba3007.18a64"
            ]
        ]
    },
    {
        "id": "baba3007.18a64",
        "type": "rbe",
        "z": "48895e14.c641e",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 240,
        "wires": [
            [
                "4e72abd.51422d4"
            ]
        ]
    },
    {
        "id": "c13103cd.43317",
        "type": "inject",
        "z": "48895e14.c641e",
        "name": "",
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "baba3007.18a64",
                "3aff3b5.9606c44",
                "9b655698.dde6d8",
                "2b9a19c7.581f26",
                "2432f754.dc7b48",
                "62fb4499.8370c4"
            ]
        ]
    },
    {
        "id": "4e72abd.51422d4",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 240,
        "wires": [
            [
                "b4fda234.fa2a08"
            ]
        ]
    },
    {
        "id": "4b6b9894.dcfe9",
        "type": "tcp in",
        "z": "48895e14.c641e",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60002",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "44624181.084be8"
            ]
        ]
    },
    {
        "id": "51c82fd8.ac78",
        "type": "http request",
        "z": "48895e14.c641e",
        "name": "Web Req",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/{{event}}/with/key/cXjQNxwHEbUr4ZLI84e8rx",
        "tls": "",
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "b91a6889.73c06"
            ]
        ]
    },
    {
        "id": "b91a6889.73c06",
        "type": "debug",
        "z": "48895e14.c641e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 1290,
        "y": 320,
        "wires": []
    },
    {
        "id": "d191c2f5.5d72c",
        "type": "function",
        "z": "48895e14.c641e",
        "name": "Req Params",
        "func": "ID=msg.payload;\nmsg.event = \"project1_IoT\";\nmsg.payload = {\"value1\": \"23402\", \"value2\": ID};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "3aff3b5.9606c44"
            ]
        ]
    },
    {
        "id": "3aff3b5.9606c44",
        "type": "rbe",
        "z": "48895e14.c641e",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 320,
        "wires": [
            [
                "e96ad40f.a2a1f"
            ]
        ]
    },
    {
        "id": "e96ad40f.a2a1f",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "51c82fd8.ac78"
            ]
        ]
    },
    {
        "id": "83351dfe.f2b668",
        "type": "tcp in",
        "z": "48895e14.c641e",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60003",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "d0a322a.4add2e"
            ]
        ]
    },
    {
        "id": "d0a322a.4add2e",
        "type": "split",
        "z": "48895e14.c641e",
        "name": "",
        "splt": "Near mote: ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "7e8673e1.ab6adc"
            ]
        ]
    },
    {
        "id": "7e8673e1.ab6adc",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "65000",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "b1a47bb5.560c1"
            ]
        ]
    },
    {
        "id": "fb4bd3b1.a90e6",
        "type": "http request",
        "z": "48895e14.c641e",
        "name": "Web Req",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/{{event}}/with/key/cXjQNxwHEbUr4ZLI84e8rx",
        "tls": "",
        "x": 1120,
        "y": 400,
        "wires": [
            [
                "deaf691.2825618"
            ]
        ]
    },
    {
        "id": "deaf691.2825618",
        "type": "debug",
        "z": "48895e14.c641e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 1290,
        "y": 400,
        "wires": []
    },
    {
        "id": "b1a47bb5.560c1",
        "type": "function",
        "z": "48895e14.c641e",
        "name": "Req Params",
        "func": "ID=msg.payload;\nmsg.event = \"project1_IoT\";\nmsg.payload = {\"value1\": \"23403\", \"value2\": ID};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "9b655698.dde6d8"
            ]
        ]
    },
    {
        "id": "9b655698.dde6d8",
        "type": "rbe",
        "z": "48895e14.c641e",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 400,
        "wires": [
            [
                "f72d90cb.cacb38"
            ]
        ]
    },
    {
        "id": "f72d90cb.cacb38",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 400,
        "wires": [
            [
                "fb4bd3b1.a90e6"
            ]
        ]
    },
    {
        "id": "1a7d1a01.a54dfe",
        "type": "tcp in",
        "z": "48895e14.c641e",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60004",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "2f302dce.e02e82"
            ]
        ]
    },
    {
        "id": "8c02ad13.5e9d08",
        "type": "http request",
        "z": "48895e14.c641e",
        "name": "Web Req",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/{{event}}/with/key/cXjQNxwHEbUr4ZLI84e8rx",
        "tls": "",
        "x": 1120,
        "y": 480,
        "wires": [
            [
                "60e4e162.e0be5"
            ]
        ]
    },
    {
        "id": "60e4e162.e0be5",
        "type": "debug",
        "z": "48895e14.c641e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 1290,
        "y": 480,
        "wires": []
    },
    {
        "id": "5e7c355a.36e9e4",
        "type": "function",
        "z": "48895e14.c641e",
        "name": "Req Params",
        "func": "ID=msg.payload;\nmsg.event = \"project1_IoT\";\nmsg.payload = {\"value1\": \"23404\", \"value2\": ID};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 480,
        "wires": [
            [
                "2b9a19c7.581f26"
            ]
        ]
    },
    {
        "id": "2b9a19c7.581f26",
        "type": "rbe",
        "z": "48895e14.c641e",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 480,
        "wires": [
            [
                "c0760b96.ebb18"
            ]
        ]
    },
    {
        "id": "c0760b96.ebb18",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 480,
        "wires": [
            [
                "8c02ad13.5e9d08"
            ]
        ]
    },
    {
        "id": "e20aaa3b.45ea78",
        "type": "tcp in",
        "z": "48895e14.c641e",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60005",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "74b013de.597a54"
            ]
        ]
    },
    {
        "id": "c64f5e48.5b2ee",
        "type": "http request",
        "z": "48895e14.c641e",
        "name": "Web Req",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/{{event}}/with/key/cXjQNxwHEbUr4ZLI84e8rx",
        "tls": "",
        "x": 1120,
        "y": 560,
        "wires": [
            [
                "57c1ab2a.7f6b5c"
            ]
        ]
    },
    {
        "id": "57c1ab2a.7f6b5c",
        "type": "debug",
        "z": "48895e14.c641e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 1290,
        "y": 560,
        "wires": []
    },
    {
        "id": "6531f48c.b5271c",
        "type": "function",
        "z": "48895e14.c641e",
        "name": "Req Params",
        "func": "ID=msg.payload;\nmsg.event = \"project1_IoT\";\nmsg.payload = {\"value1\": \"23405\", \"value2\": ID};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "2432f754.dc7b48"
            ]
        ]
    },
    {
        "id": "2432f754.dc7b48",
        "type": "rbe",
        "z": "48895e14.c641e",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 560,
        "wires": [
            [
                "96a2c6a.708e1b8"
            ]
        ]
    },
    {
        "id": "96a2c6a.708e1b8",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 560,
        "wires": [
            [
                "c64f5e48.5b2ee"
            ]
        ]
    },
    {
        "id": "f82b4bc0.e9a33",
        "type": "tcp in",
        "z": "48895e14.c641e",
        "name": "",
        "server": "client",
        "host": "localhost",
        "port": "60006",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "9eea9ea.e0d306"
            ]
        ]
    },
    {
        "id": "6cdd5093.945b9",
        "type": "http request",
        "z": "48895e14.c641e",
        "name": "Web Req",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/{{event}}/with/key/cXjQNxwHEbUr4ZLI84e8rx",
        "tls": "",
        "x": 1120,
        "y": 640,
        "wires": [
            [
                "80169038.cec39"
            ]
        ]
    },
    {
        "id": "80169038.cec39",
        "type": "debug",
        "z": "48895e14.c641e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 1290,
        "y": 640,
        "wires": []
    },
    {
        "id": "62e0f019.e1c73",
        "type": "function",
        "z": "48895e14.c641e",
        "name": "Req Params",
        "func": "ID=msg.payload;\nmsg.event = \"project1_IoT\";\nmsg.payload = {\"value1\": \"23406\", \"value2\": ID};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "62fb4499.8370c4"
            ]
        ]
    },
    {
        "id": "62fb4499.8370c4",
        "type": "rbe",
        "z": "48895e14.c641e",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 790,
        "y": 640,
        "wires": [
            [
                "86030d82.7f5e68"
            ]
        ]
    },
    {
        "id": "86030d82.7f5e68",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 640,
        "wires": [
            [
                "6cdd5093.945b9"
            ]
        ]
    },
    {
        "id": "2cc61a47.abc8fe",
        "type": "split",
        "z": "48895e14.c641e",
        "name": "",
        "splt": "Near mote: ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "fca2d7c7.0abc9"
            ]
        ]
    },
    {
        "id": "fca2d7c7.0abc9",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "65000",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "d1a01829.765448"
            ]
        ]
    },
    {
        "id": "44624181.084be8",
        "type": "split",
        "z": "48895e14.c641e",
        "name": "",
        "splt": "Near mote: ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "4ec2b76d.b4597"
            ]
        ]
    },
    {
        "id": "4ec2b76d.b4597",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "65000",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "d191c2f5.5d72c"
            ]
        ]
    },
    {
        "id": "2f302dce.e02e82",
        "type": "split",
        "z": "48895e14.c641e",
        "name": "",
        "splt": "Near mote: ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "a3685684.4ec66"
            ]
        ]
    },
    {
        "id": "a3685684.4ec66",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "65000",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "5e7c355a.36e9e4"
            ]
        ]
    },
    {
        "id": "74b013de.597a54",
        "type": "split",
        "z": "48895e14.c641e",
        "name": "",
        "splt": "Near mote: ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "bdbee774.8cb9c"
            ]
        ]
    },
    {
        "id": "bdbee774.8cb9c",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "65000",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 560,
        "wires": [
            [
                "6531f48c.b5271c"
            ]
        ]
    },
    {
        "id": "9eea9ea.e0d306",
        "type": "split",
        "z": "48895e14.c641e",
        "name": "",
        "splt": "Near mote: ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "7d48a2a4.8aa404"
            ]
        ]
    },
    {
        "id": "7d48a2a4.8aa404",
        "type": "switch",
        "z": "48895e14.c641e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "65000",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "62e0f019.e1c73"
            ]
        ]
    }
]
